<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.webServer>
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files"
    staticCompressionDisableCpuUsage="95" staticCompressionEnableCpuUsage="60"
    dynamicCompressionDisableCpuUsage="95" dynamicCompressionEnableCpuUsage="50">
    <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" staticCompressionLevel="9" />
    <dynamicTypes>
      <add mimeType="text/*" enabled="true" />
      <add mimeType="message/*" enabled="true" />
      <add mimeType="application/x-javascript" enabled="true" />
      <add mimeType="*/*" enabled="false" />
      <add mimeType="application/json" enabled="true" />
      <add mimeType="application/json; charset=utf-8" enabled="true" />
    </dynamicTypes>
    <staticTypes>
      <add mimeType="text/*" enabled="true" />
      <add mimeType="message/*" enabled="true" />
      <add mimeType="application/x-javascript" enabled="true" />
      <add mimeType="application/atom+xml" enabled="true" />
      <add mimeType="application/xaml+xml" enabled="true" />
      <add mimeType="application/json" enabled="true" />
      <add mimeType="application/json; charset=utf-8" enabled="true" />
      <add mimeType="*/*" enabled="false" />
    </staticTypes>
  </httpCompression>
    <urlCompression doStaticCompression="true" doDynamicCompression="true"/>

    <staticContent>
      <clientCache httpExpires="Sun, 29 Mar 2020 00:00:00 GMT" cacheControlMode="UseExpires" />
    </staticContent>
  </system.webServer>
  <connectionStrings>
    <!--<add name="ApplicationServices" connectionString="data source=DESKTOP-CIJ8SMS\SQLEXPRESS;Integrated Security=True; Initial Catalog=master" providerName="System.Data.SqlClient" />
    <add name="Constr" connectionString="data source=DESKTOP-CIJ8SMS\SQLEXPRESS;Integrated Security=True; Initial Catalog=master" providerName="System.Data.SqlClient" />
    <add name="AutoBuyConnection" connectionString="Data Source=DESKTOP-CIJ8SMS\SQLEXPRESS;Initial Catalog=master;Integrated Security=True;multipleactiveresultsets=True;App=EntityFramework" />
    <add name="autobuyConnectionString" connectionString="Data Source=DESKTOP-CIJ8SMS\SQLEXPRESS;Initial Catalog=master;Persist Security Info=True;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="AutoBuyEntities" connectionString="metadata=res://*/App_Code.Model.csdl|res://*/App_Code.Model.ssdl|res://*/App_Code.Model.msl;provider=System.Data.SqlClient;provider connection string='data source=&quot;DESKTOP-CIJ8SMS\SQLEXPRESS&quot;;initial catalog=master;Integrated Security=True;;multipleactiveresultsets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />-->
    <!--<add name="ApplicationServices" connectionString="data source=73.205.140.248;User Id= sa; Pwd=testdatabase; Initial Catalog=AutobuyCRM_Aug" providerName="System.Data.SqlClient"/>
    <add name="AutoBuyConnection" connectionString="Data Source=73.205.140.248;Initial Catalog=AutobuyCRM_Aug;user ID=sa;pwd=testdatabase;multipleactiveresultsets=True;App=EntityFramework"/>
    <add name="autobuyConnectionString" connectionString="data source=73.205.140.248;Initial Catalog=AutobuyCRM_Aug;Persist Security Info=True; User Id= sa; Pwd=testdatabase;" providerName="System.Data.SqlClient"/>
    <add name="AutoBuyEntities" connectionString="metadata=res://*/App_Code.Model.csdl|res://*/App_Code.Model.ssdl|res://*/App_Code.Model.msl;provider=System.Data.SqlClient;provider connection string='data source=73.205.140.248;initial catalog=AutobuyCRM_Aug;user id=sa;password=testdatabase;multipleactiveresultsets=True;App=EntityFramework'" providerName="System.Data.EntityClient"/>
    <add name="Constr" connectionString="data source=73.205.140.248;User Id= sa; Pwd=testdatabase; Initial Catalog=AutobuyCRM_Aug" providerName="System.Data.SqlClient"/>-->
    
    <add name="autobuyConnectionString" connectionString="Data Source=183.82.32.95;Initial Catalog=autobuy_4dec2017
;Persist Security Info=True;User ID=sa;Password=rck@12345" providerName="System.Data.SqlClient"/>


    <add name="autobuyConnectionString_local" connectionString="Data Source=183.82.32.95;Initial Catalog=autobuy_4dec2017
;Persist Security Info=True;User ID=sa;Password= rck@12345" providerName="System.Data.SqlClient"/>


    <add name="autobuyConnectionString_localjj" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=F:\ashok_wepaythemax_23_11_16\wepaythemax_15th_nov_3rd_live_up\wepaythemax_final_live_code_15th_Nov_eve\App_Data\Database.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>


    <!--<add name="autobuyConnectionString_local" connectionString="data source=52.5.75.77;User Id= sa; Pwd=RCK$1234; Initial Catalog=autobuycrm" providerName="System.Data.SqlClient" />
    <add name="autobuyConnectionString" connectionString="data source=52.5.75.77;User Id= sa; Pwd=RCK$1234; Initial Catalog=autobuycrm" providerName="System.Data.SqlClient" />-->
    

  </connectionStrings>
  <appSettings>


    

    <add key="for_bcc" value="vallikannu@rcktechiees.com"/>

    <add key="MAILMODE" value="ON"/>
    <add key="Issue_Subject" value="Local.Wepaythemax Web Issue"/>
    <add key="Mailaddress" value="kavitha@rcktechiees.com"/>
    <add key="MailaddressCC" value="kavitha@rcktechiees.com"/>
    <add key="MailaddressBCC" value=""/>


    <add key="xlxt_schedule" value="XSLT\email.xslt"/>

    <add key="Customer_mail_schedule" value="XSLT\EMAILCustomerBDC.xslt"/>
    
    
    <add key="sitename" value="XSLT\EMAILCustomer.xslt"/>
    <!--<add key="ACTIVATEXSLTCustomer" value="XSLT\EMAILCustomer_html.xslt"/>-->
    <add key="ACTIVATEXSLT" value="XSLT\EMAIL.xslt"/>
    <add key="LOGPATH" value="C:\SVN\04.06.2018_wepaythemax\live_latest_wepaythemax"/>
    <add key="EXCELIMAGEPATH" value="mailbody"/>
    <add key="CONTACTMAILFROM" value="kavitha@rcktechiees.com"/>
    <add key="CONTACTMAILTO" value="kavitha@rcktechiees.com"/>
    <add key="CONTACTMAILTO_wbm" value="kavitha@rcktechiees.com"/>
    <add key="CONTACTMAILTO_miami" value="kavitha@rcktechiees.com"/>
    <add key="CONTACTMAILTO_Margate" value="kavitha@rcktechiees.com"/>
    <add key="CONTACTMAILTO_Melbourne" value="kavitha@rcktechiees.com"/>
    <add key="CONTACTMAILTO_orlando" value="kavitha@rcktechiees.com"/>
    <add key="CONTACTMAILTO_stu" value="kavitha@rcktechiees.com"/>
    <add key="CONTACTMAILTOCC" value="kavitha@rcktechiees.com"/>
    <!--<add key="IHEARTCONTACTMAILTO" value="balaji@rcktechiees.com"/>-->
    <!--<add key="CONTACTMAILTO" value="yuvaraja@rcktechiees.com"/>-->
    <add key="MAILHOST" value="smtp.gmail.com"/>
    <add key="MAILPORT" value="587"/>
    <add key="MAILAUTHFLAG" value="ON"/>
    <add key="MAILAUTHUSERNAME" value="vallikannu@rcktechiees.com"/>
    <add key="MAILAUTHPASSWORD" value="valli5696"/>

    <add key="SMSCOMMENT1" value="Show this code"/>
    <add key="SMSCOMMENT2" value="when you visit AutoBuy to get $100 more to top the MAX offer! "/>
  
 
  
  </appSettings>
   
  <system.web>
     
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  
</configuration>